

h1 {
  text-align: center;
}

.button {
  text-align: center;
}

#chart {
  margin: auto;
  width: 70%;
}

#chartspace {
  display: inline-block;
  width: 80%;

}

.bar {
  margin-top: 10px;
  background-color: greenyellow;
  display: inline-block;
  max-height: 300px;
  vertical-align: bottom;
}

.label {
  height: auto;
  text-align: center;
  position: relative;
  width: auto;
  display: in-line block;
}

#xlabelspace {
  margin-left: 19%;
}

hr {
  border-width: 1px;
  margin-top: 0px;
  border-color: black;
}

.xlabel {
  display: inline-block;
  height: 20px;
  max-width: 15vw;
  text-align: center;
}

#ylabelspace{
  display: inline-block;
  margin-bottom: -2px;
  width: 19%;
  height: 350px;
  position: relative;
  vertical-align: bottom;
}

#yaxis{
  width: 2px;
  height: 350px;
  background-color: black;
  float: right;
}
#yscale{
  height: 350px;
  width: auto;
  float: right;
}

.ylabel{
  width: auto;
  display: block;
  text-align: right;
}









